@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.dashboard-container {
   margin: 100px;
   padding: 40px 0px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   background: rgba(206, 47, 3, 1);
   border-radius: 10px;
   font-family: 'Roboto Condensed', sans-serif;
}
.dashboard-heading {
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 0.05em;
   color: #ffffff;
   text-align: center;
}
.dashboard-dock {
   display: flex;
   flex-flow: row nowrap;
}

@media (max-width: 768px) {
   .dashboard-container{
      margin: 50px;
      padding: 0;
   }
   .dashboard-heading {
      font-size: 16px;
      font-weight: bold;
   }
}
@media (max-width: 426px) {
   .dashboard-container{
      margin: 50px 20px;
   }
   .dashboard-dock{
      flex-flow: column;
   }
}
