.spread-section {
   margin: 50px 0px;
   border-radius: 10px;
   background: rgba(206,47,3,1);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.spread-title {
   font-size: 24px;
   line-height: 28px;
   color: #f2f2f2;
}
.spread-text {
   font-size: 36px;
   line-height: 42px;
   color: #000000;
}

.col-md-7 {
   display: flex;
   align-items: center;
}
.spread-pic {
   width: 263px;
   height: 400px;
}
.spread-pic-text {
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
   padding-left: 10px;
}

.col-md-5{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col-md-5 .active {
   width: 100%;
   height: 118px;
   background: #ffffff;
}
.col-md-5 .inactive {
   width: 80%;
   height: 118px;
   background: rgba(255,255,255,0.5);
}
.spread-reason-box {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px 0px 0px 50px;
   cursor: pointer;
   margin: 8px 0px;
}
/* .spread-reason-box:hover{
   background: #ffffff;
} */
.spread-reason-text {
   align-self: center;
   color: #000000;
   font-size: 18px;
   line-height: 21px;
   margin: 0;
}

/* Tablet View */
@media (max-width: 768px){
   .spread-pic {
      width: 163px;
      height: 300px;
   }
   .spread-pic-text{
      font-size: 16px;
   }
   .spread-reason-text{
      font-size: 16px;
   }
}


/* Mobile View */
@media (max-width: 426px){

}
