@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
.symptomCard{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    border-radius: 10px;
    flex: 1 0 30vw;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    justify-content: center;
}
.symptomCard .card-img-top{
    width: 60px;
    height: 60px;
    align-self: center;
}
.symptomCard .card-body{
}
.symptomCard .card-title {
   font-weight: bold;
   font-size: 14px;
   align-self: flex-start;
}
.symptomCard .card-text {
   font-weight: normal;
   font-size: 12px;
   align-self: flex-start;
}

/* Tablet View */
@media (max-width: 768px){
    .symptomCard{
       flex: 1 1 auto;
    }
 }
